body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-inline {
    margin-bottom: 35px;
}

td.long {
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-image {
  width: 30px;
  margin-right: 10px;
  border-radius: 40px;
}

body {
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
}.navbar-fixed-top {
  border: 0;
}