@model Fabrikam.Timesheets.Mvc.Models.RegistrationErrorModel
@{
    ViewBag.Title = "Registration Error";
}

<h2>Registration Error</h2>

<p>There was an error while registering the application in your directory. Please try again.</p>