@{
    ViewBag.Title = "Registration Success";
}

<h2>Registration Success</h2>

<p>The application has now been registered for your organization. You can sign in now!</p>

<p>Since you enabled this application for the entire organization the other users will not be prompted with a consent screen.</p>

