
@{
    ViewBag.Title = "Registration Success";
}

<h2>Registration Success</h2>

<p>The application has now been registered for your account. You can sign in now!</p>

<p>If other people in your organization want to use the application they will also need to go through the consent flow.</p>

